<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Dollar Cash exchanger - Home</title>

    <meta name="title" Content="Dollar Cash exchanger - Home">

    <link rel="shortcut icon" href="../assets/images/logoIcon/blue_bliss/lggg.png" type="image/x-icon">


    <link rel="apple-touch-icon" href="../assets/images/logoIcon/blue_bliss/lggg.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Dollar Cash Exchanger">
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <!doctype html>
    <html lang="en">

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Dollar Cash exchanger - Home</title>


        <meta name="description" content="Dollar Cash Exchanger can be explained as a network of buyers and sellers, who transfer currency between each other or for their own. It is the means by which individuals, and companies convert one currency into another. The Currency Exchange Platform is endlessly appealing, feature-loaded, customized, and possesses the remarkable capability of running on all devices and operating systems.">
        <meta name="keywords" content="exchange platform,currency exchange platform,usd to inr,currency exchnage,easy exchange,money exhcngae,bitcoin to usd,money exchange,crypto currency exchange,crypto currency,Dollar Cash Exchanger,Vodafone cash">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Dollar Cash exchanger - Home">

        <meta property="og:type" content="website">
        <meta property="og:image:type" content="png" />
        <meta property="og:image:width" content="1180" />
        <meta property="og:image:height" content="600" />
        <meta property="og:url" content="index.html">



        <link rel="stylesheet" href="../assets/global/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../assets/global/css/all.min.css" >
        <link rel="stylesheet" href="../assets/global/css/line-awesome.min.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/animate.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/odometer.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/nice-select.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/swiper.min.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/main.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/custom.css">
        <link rel="stylesheet" href="../assets/templates/blue_bliss/css/colorc568.css?color=040451">

        <!-- Include Bootstrap JS and Popper.js (optional) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Latest Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>

        <!-- Latest Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha384-MQ92eeZH1D5fEXII1zYf7Yq14S7j/p4+0pJWnUR5e6aDlc4Lq+5Xf7jl0sN5P4SN" crossorigin="anonymous"></script>


        <style>
            .custom-image {
                width: 100px; /* Set your preferred width */
                height: 100px; /* Set your preferred height */
                object-fit: cover; /* Maintain aspect ratio and cover the container */
            }
        </style>

    </head>




    </div>
    <a href="#0" class="scrollToTop"><i class="la la-angle-up"></i></a>
    <div class="overlay"></div>
    <div th:replace="~{fragments/headerAdmin :: header}"></div>
<body class="bg-light">


<div class="container mt-5">

    <h2 class="text-center mb-4">Last Requests</h2>

    <div class="table-responsive">
    <!-- Your existing table structure -->
    <table class="table table-hover ">
        <thead>
        <tr>
            <th>number</th>
            <th>user</th>
            <th>from</th>
            <th>to</th>
            <th>send</th>
            <th>get</th>
            <th>wallet Number</th>
            <th>prove</th>
            <th>Confirm Request</th>
            <th>Update the request</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${exchange}" id="row-{{entity.id}}">
            <td th:text="${entity.id}"></td>
            <td th:text="${entity.user.email}"></td>
            <td th:text="${entity.sourceCurrency.name}"></td>
            <td th:text="${entity.targetCurrency.name}"></td>
            <td th:text="${entity.sendingAmount}"></td>
            <td th:text="${entity.receivingAmount}"></td>
            <td th:text="${entity.wallet.walletNumber}"></td>
<!--            <td class="editable-cell" data-field="sendingAmount" contenteditable="true" th:text="${entity.sendingAmount}"></td>-->
<!--            <td class="editable-cell" data-field="receivingAmount" contenteditable="true" th:text="${entity.receivingAmount}"></td>-->
<!--            <td class="editable-cell" data-field="walletNumber" contenteditable="true" th:text="${entity.wallet.walletNumber}"></td>-->
            <td>
                <div class="img-container" th:if="${entity.image != null}">
                    <img class="img-thumbnail custom-image" th:src="@{'/admin/images/' + ${entity.image.id}}" alt="Image" data-toggle="modal" data-target="#imageModal" onclick="showImageModal('@{'/admin/images/' + ${entity.image.id}}')">
                </div>
            </td>
            <td>
                <form th:action="@{/admin/archive-request}" method="post">
                    <input type="hidden" name="requestId" th:value="${entity.id}">
                    <button type="submit" class="btn btn-success">تأكيد</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/update-request}" method="post" >
                    <input type="hidden" name="requestId" id="requestId"th:value="${entity.id}">
<!--                    <div class="editable-cell" data-field="sendingAmount" contenteditable="true" th:text="${entity.sendingAmount}"></div>-->
<!--                    <div class="editable-cell" data-field="receivingAmount" contenteditable="true" th:text="${entity.receivingAmount}"></div>-->
<!--                    <div class="editable-cell" data-field="walletNumber" contenteditable="true" th:text="${entity.wallet.walletNumber}"></div>-->


                    <input type="text" name="sendingAmount" id="sendingAmountInput" th:value="${entity.sendingAmount}">
                    <input type="text" name="receivingAmount" id="receivingAmountInput" th:value="${entity.receivingAmount}">
                    <input type="text" name="walletNumber" id="walletNumberInput" th:value="${entity.wallet.walletNumber}">


                    <button type="submit" class="btn btn-warning">تعديل</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/exchange/delete/{id}(id=${entity.id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div><nav aria-label="...">
    <ul class="pagination">
        <li th:unless="${currentPage == 0}" class="page-item">
            <a class="page-link" th:href="@{/admin/exchange-requests(page=0)}">first</a>
        </li>
        <li th:unless="${currentPage == 0}" class="page-item">
            <a class="page-link" th:href="@{/admin/exchange-requests(page=${currentPage - 1})}"><</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:href="@{/admin/exchange-requests(page=${i})}" th:text="${i + 1}" ></a>
        </li>
        <li th:unless="${currentPage == totalPages - 1}" class="page-item">
            <a class="page-link" th:href="@{/admin/exchange-requests(page=${currentPage + 1})}">next</a>
        </li>
        <li th:unless="${currentPage == totalPages - 1}" class="page-item">
            <a class="page-link" th:href="@{/admin/exchange-requests(page=${totalPages - 1})}">last</a>
        </li>
    </ul>
</nav>

</div>

<!--    <div class="pagination justify-content-center mt-4">-->
<!--        <ul class="pagination">-->
<!--            <li th:unless="${currentPage == 0}">-->
<!--                <a th:href="@{/exchange-requests?page=0}">&laquo; first</a>-->
<!--            </li>-->
<!--            <li th:unless="${currentPage == 0}">-->
<!--                <a th:unless="${currentPage == 0}" th:href="@{/admin/exchange-requests(page=${currentPage - 1})}">previous</a>-->

<!--            </li>-->
<!--            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == i} ? 'active' : ''">-->
<!--                <a th:href="@{/admin/exchange-requests(page=${i})}" th:text="${i + 1}" th:style="${currentPage == i} ? 'color: red;' : ''"></a>-->
<!--            </li>-->

<!--            <li th:unless="${currentPage == totalPages - 1}">-->
<!--                <a th:href="@{/admin/exchange-requests(page=${currentPage + 1})}">next</a>-->
<!--            </li>-->
<!--            <li th:unless="${currentPage == totalPages - 1}">-->
<!--                <a th:href="@{/admin/exchange-requests(page=${totalPages - 1})}">last &raquo;</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->




    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">الصورة مكبرة</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Modal Image" class="modal-image custom-modal-image">
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // Handle modal trigger using JavaScript
            $('.img-thumbnail').click(function () {
                var imgSrc = $(this).attr('src');
                $('#modalImage').attr('src', imgSrc);
                $('#imageModal').modal('show');

                // Set a fixed size for the modal image
                $('#modalImage').css({
                    'width': '100%', // Adjust this to your preferred width
                    'height': 'auto',
                    'max-width': '80vw', // Ensure the image doesn't exceed 80% of the viewport width
                    'max-height': '80vh', // Adjust this to your preferred maximum height
                });
            });

            // Prevent modal from closing on "x" button click
            $('#imageModal').on('click', '.close', function (e) {
                e.stopPropagation(); // Prevent the default behavior of the close button
                $('#modalImage').attr('src', ''); // Clear the image source when the modal is closed
            });

            // Prevent modal from closing on overlay click
            $('#imageModal').on('click', function (e) {
                if ($(e.target).hasClass('modal')) {
                    e.stopPropagation(); // Prevent the default behavior of the overlay click
                }
            });

            // Handle modal close events
            $('#imageModal').on('hidden.bs.modal', function () {
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });
        });
    </script>

<script src="../assets/global/js/jquery-3.6.0.min.js"></script>
<script src="../assets/global/js/bootstrap.bundle.min.js"></script>

<script src="../assets/templates/blue_bliss/js/modernizr-3.6.0.min.js"></script>
<script src="../assets/templates/blue_bliss/js/plugins.js"></script>
<script src="../assets/templates/blue_bliss/js/swiper.min.js"></script>
<script src="../assets/templates/blue_bliss/js/wow.min.js"></script>
<script src="../assets/templates/blue_bliss/js/odometer.min.js"></script>
<script src="../assets/templates/blue_bliss/js/viewport.jquery.js"></script>
<script src="../assets/templates/blue_bliss/js/nice-select.js"></script>
<script src="../assets/templates/blue_bliss/js/main.js"></script>

</body>

</html>
