<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Dollar Cash exchanger - Login</title>

    <meta name="title" Content="Easy money exchanger - Login">

    <meta name="description" content="Easy Money Exchanger can be explained as a network of buyers and sellers, who transfer currency between each other or for their own. It is the means by which individuals, and companies convert one currency into another. The Currency Exchange Platform is endlessly appealing, feature-loaded, customized, and possesses the remarkable capability of running on all devices and operating systems.">
    <meta name="keywords" content="exchange platform,currency exchange platform,usd to inr,currency exchnage,easy exchange,money exhcngae,bitcoin to usd,money exchange,crypto currency exchange,crypto currency,Easy Money Exchanger,Vodafone cash">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Easy money exchanger - Login">

    <meta itemprop="name" content="Easy money exchanger - Login">
    <meta itemprop="description" content="Easy Money Exchanger can be explained as a network of buyers and sellers, who transfer currency between each other or for their own. It is the means by which individuals, and companies convert one currency into another. The Currency Exchange Platform is endlessly appealing, feature-loaded, customized, and possesses the remarkable capability of running on all devices and operating systems.">
    <meta itemprop="image" content="../assets/images/seo/642fb007b7fca1680846855.png">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Easy Money Exchanger">
    <meta property="og:description" content="Easy Money Exchanger can be explained as a network of buyers and sellers, who transfer currency between each other or for their own. It is the means by which individuals, companies convert one currency into another. The Currency Exchange Platform is endlessly appealing, feature-loaded, customized, and possesses the remarkable capability of running on all devices and operating systems.">
    <meta property="og:image" content="../assets/images/seo/642fb007b7fca1680846855.png" />
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="login.html">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="../assets/global/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../assets/global/css/all.min.css">
    <link rel="stylesheet" href="../assets/global/css/line-awesome.min.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/animate.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/odometer.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/nice-select.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/main.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/custom.css">
    <link rel="stylesheet" href="../assets/templates/blue_bliss/css/colorc568.css?color=040451">

    <style>
        .gap-25px {
            gap: 25px;
        }

        .modal-image {
            width: 60%;
            height: auto;
        }
    </style>
</head>



<!--<div class="preloader" id="preloader">-->
<!--    <div class="logo">-->
<!--    </div>-->
<!--    <div class="loader-frame">-->
<!--        <div class="loader1" id="loader1">-->
<!--        </div>-->
<!--        <div class="circle"></div>-->
<!--        <h6 class="wellcome">-->
<!--            <span class="d-block w-100 text-white">Wellcome to</span>-->
<!--            <span class="d-block w-100">Cash money exchanger</span>-->
<!--        </h6>-->
<!--    </div>-->
</div>
<a href="#0" class="scrollToTop"><i class="la la-angle-up"></i></a>
<div class="overlay"></div>
<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-area">
                <div class="header-wrapper">
                    <div class="header-top-item">
                        <div class="header-top-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="header-top-content">
                            <span>Dubai</span>
                        </div>
                    </div>
                    <div class="header-top-item">
                        <div class="header-top-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="header-top-content">
                            <a href="mailto:do-not-reply@viserlab.com">uae70008@gmail.com</a>
                        </div>
                    </div>
                    <div class="header-top-right-item header-top-item">
                        <a href="tel:+20 000000000">
                            <i class="fas fa-phone"></i>
                        </a>
                        <span>+20 1066475760</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-area">

                <div class="menu-area">
                    <ul class="menu">
                        <li>
                            <a href="/index" class="nav-link">الرئيسية</a>
                        </li>
                        <li>
                            <a href="/admin/list" class="nav-link">العملات</a>
                        </li>
                        <li>
                            <a href="/admin/exchange-list" class="nav-link">التحويل بين العملات</a>
                        </li>
                        <li>
                            <a href="/admin/contacts" class="nav-link">طلبات التواصل</a>
                        </li>
                        <li>
                            <a href="/admin/exchange-requests" class="nav-link">احدث الطلبات</a>
                        </li>
                        <li>
                            <a href="/admin/all-requests-including-archived" class="nav-link">الطلبات</a>
                        </li>
                        <li>
                            <a href="/admin/users" class="nav-link">المستخدمين</a>
                        </li>
                        <li class="d-lg-none d-block">
                            <div class="d-flex flex-wrap justify-content-between">
                                <a href="/login" class="btn btn--base-outline btn-sm">Login</a>
                                <a href="/register" class="btn btn--base btn-sm">Register</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="header-buttons d-lg-block d-none">
                    <a th:unless="${isAuthenticated}" href="/login" class="btn btn--base-outline btn-sm">Login</a>
                    <a th:unless="${isAuthenticated}" href="/register" class="btn btn--base btn-sm"> Register</a>
                    <a th:if="${isAuthenticated}" href="#" class="btn btn--base-outline btn-sm"> Welcome Admin</a>
                </div>


                <div class="header-bar-area d-lg-none">
                    <div class="header-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<body class="bg-light">


<div class="container mt-5">

    <h2 class="text-center mb-4">Last Requests</h2>

    <!-- Your existing table structure -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Target</th>
            <th>Send</th>
            <th>Get</th>
            <th>Wallet</th>
            <th>Image</th>
            <th>Actions</th>
            <th>Update</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${exchange}" id="row-{{entity.id}}">
            <td th:text="${entity.id}"></td>
<!--            <td th:text="${entity.user.name}"></td>-->
            <td th:text="${entity.sourceCurrency.name}"></td>
            <td th:text="${entity.targetCurrency.name}"></td>
            <td class="editable-cell" data-field="sendingAmount" contenteditable="true" th:text="${entity.sendingAmount}"></td>
            <td class="editable-cell" data-field="receivingAmount" contenteditable="true" th:text="${entity.receivingAmount}"></td>
            <td class="editable-cell" data-field="walletNumber" contenteditable="true" th:text="${entity.wallet.walletNumber}"></td>
            <td>
                <div class="img-container" th:if="${entity.image != null}">
                    <img class="img-thumbnail" th:src="@{'/admin/images/' + ${entity.image.id}}" alt="Image" data-toggle="modal" data-target="#imageModal" onclick="showImageModal('@{'/admin/images/' + ${entity.image.id}}')">
                </div>
            </td>
            <td>
                <form th:action="@{/admin/archive-request}" method="post">
                    <input type="hidden" name="requestId" th:value="${entity.id}">
                    <button type="submit" class="btn btn-warning">Archive</button>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/update-request}" method="post">
                    <input type="hidden" name="requestId" th:value="${entity.id}">
<!--                    <div class="editable-cell" data-field="sendingAmount" contenteditable="true" th:text="${entity.sendingAmount}"></div>-->
<!--                    <div class="editable-cell" data-field="receivingAmount" contenteditable="true" th:text="${entity.receivingAmount}"></div>-->
<!--                    <div class="editable-cell" data-field="walletNumber" contenteditable="true" th:text="${entity.wallet.walletNumber}"></div>-->

                    <!-- Add hidden fields for data you want to update -->
                    <input type="hidden" name="sendingAmount" id="sendingAmountInput" th:value="${entity.sendingAmount}">
                    <input type="hidden" name="receivingAmount" id="receivingAmountInput" th:value="${entity.receivingAmount}">
                    <input type="hidden" name="walletNumber" id="walletNumberInput" th:value="${entity.wallet.walletNumber}">

                    <!-- Add more hidden fields as needed -->
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>




    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Modal Image" class="modal-image">
                    <!-- Set your preferred width and max-width -->
                </div>
            </div>
        </div>
    </div>


</div>


</div>

</div>

<!-- Add Bootstrap JS and Popper.js scripts (optional) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('input', function(event) {
        if (event.target.classList.contains('editable-cell')) {
            const fieldName = event.target.getAttribute('data-field');
            document.getElementById(fieldName + 'Input').value = event.target.innerText;
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#imageModal').on('show.bs.modal', function (event) {
            var imgSrc = $(event.relatedTarget).attr('src');
            $('#modalImage').attr('src', imgSrc);
        });
    });
</script>

</script>


</body>
</html>
