<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--    &lt;!&ndash; Include Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous">-->

<!--    &lt;!&ndash; Include full version of jQuery &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->


<!--    &lt;!&ndash; Include Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--            crossorigin="anonymous"></script>-->

<!--    &lt;!&ndash; Include your dependencies and stylesheets &ndash;&gt;-->
<!--    &lt;!&ndash; ... &ndash;&gt;-->





<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <div class="card">-->
<!--        <div class="card-header">-->
<!--            <h2 class="text-center">User Exchange Form</h2>-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            &lt;!&ndash; Exchange form &ndash;&gt;-->
<!--            <form class="form" method="post" th:object="${exchangeRequest}">-->
<!--                <div class="form-group">-->
<!--                    <label for="sourceCurrency">Select Source Currency:</label>-->
<!--                    <select class="form-control" id="sourceCurrency" name="sourceCurrency" th:field="*{sourceCurrency}">-->
<!--                        <option th:each="exchange : ${exchangeRate}" th:value="${exchange.sourceCurrency.id}" th:text="${exchange.sourceCurrency.name}"></option>-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="targetCurrency">Select Target Currency:</label>-->
<!--                    <select class="form-control" id="targetCurrency" name="targetCurrency" th:field="*{targetCurrency}">-->
<!--                        &lt;!&ndash; Options will be dynamically updated using JavaScript &ndash;&gt;-->
<!--                    </select>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="sendingAmount">You Send:</label>-->
<!--                    <input type="number" step="any" class="form-control" id="sendingAmount" name="sendingAmount" th:field="*{sendingAmount}" required>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="receivingAmount">You Get:</label>-->
<!--                    <input type="number" step="any" class="form-control" id="receivingAmount" name="receivingAmount" readonly th:value="${exchangeRequest.receivingAmount}" th:field="*{receivingAmount}">-->
<!--                </div>-->

<!--                <button type="button" class="btn btn-primary" id="initiateExchangeBtn">Initiate Exchange</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Include jQuery &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->

<!--&lt;!&ndash; Include other scripts &ndash;&gt;-->
<!--<script src="path-to-niceSelect.js"></script>-->
<!--<script src="path-to-wow.js"></script>-->

<!--&lt;!&ndash; Your currency exchange script &ndash;&gt;-->
<!--<<script>-->
<!--    var $j = jQuery.noConflict();-->

<!--    $j(document).ready(function () {-->
<!--        // Currency exchange script-->
<!--        $j("#sourceCurrency").change(function () {-->
<!--            var sourceCurrencyId = $j("#sourceCurrency").val();-->

<!--            // Fetch the target currencies based on the selected source currency-->
<!--            $j.ajax({-->
<!--                type: "GET",-->
<!--                url: "/getTargetCurrencies?sourceCurrencyId=" + sourceCurrencyId,-->
<!--                success: function (targetCurrencies) {-->
<!--                    var targetCurrencyDropdown = $j("#targetCurrency");-->
<!--                    targetCurrencyDropdown.empty();-->

<!--                    $j.each(targetCurrencies, function (index, targetCurrency) {-->
<!--                        targetCurrencyDropdown.append($j("<option></option>")-->
<!--                            .attr("value", targetCurrency.id)-->
<!--                            .text(targetCurrency.name));-->
<!--                    });-->

<!--                    console.log("Target Currency Dropdown:", targetCurrencyDropdown);-->

<!--                    // Initialize or update niceSelect after updating the dropdown-->
<!--                    targetCurrencyDropdown.niceSelect('update');-->

<!--                    // Log a message to indicate that the update is called-->
<!--                    console.log("niceSelect update method called.");-->
<!--                },-->
<!--                error: function (error) {-->
<!--                    console.log("Error fetching target currencies: " + error);-->
<!--                }-->
<!--            });-->
<!--        });-->

<!--        $j("#sourceCurrency, #targetCurrency, #sendingAmount").change(function () {-->
<!--            var sourceCurrencyId = $j("#sourceCurrency").val();-->
<!--            var targetCurrencyId = $j("#targetCurrency").val();-->

<!--            $j.ajax({-->
<!--                type: "GET",-->
<!--                url: "/getExchangeRate?sourceCurrencyId=" + sourceCurrencyId + "&targetCurrencyId=" + targetCurrencyId,-->
<!--                success: function (exchangeRate) {-->
<!--                    var sendingAmount = parseFloat($j("#sendingAmount").val());-->
<!--                    var receivingAmount = sendingAmount * exchangeRate;-->
<!--                    $j("#receivingAmount").val(receivingAmount.toFixed(2));-->
<!--                },-->
<!--                error: function (error) {-->
<!--                    console.log("Error fetching exchange rate: " + error);-->
<!--                }-->
<!--            });-->
<!--        });-->

<!--        // Trigger the initial change event on the source currency dropdown-->
<!--        $j("#sourceCurrency").change();-->
<!--    });-->
<!--</script>-->



<!--</body>-->
<!--</html>-->
