<footer class="overflow-hidden">
    <div class="footer-top padding-top padding-bottom">
        <div class="container">
            <div class="footer-area">
                <div class="footer-widget widget-about">
                    <div class="footer-logo">
                        <a href="/index">
                            <img src="../assets/images/logoIcon/blue_bliss/lggg.png" alt="Easy money exchanger" title="Dollar Cash exchanger">
                        </a>
                    </div>
                    <p>Dollar Cash Exchanger - منصة<br>
                        آمنة ومناسبة لصرف العملات</p>
                </div>
                <div class="footer-widget widget-link">
                    <h5 class="title">Support</h5>
                    <ul>
                        <li>
                            <a href="/contact">contact to us</a>
                        </li>

                        <li>
                            <a href="/login">login</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-widget widget-link">
                    <h5 class="title">Payment</h5>
                    <ul>
                        <li>
                            <a href="/index">
                                Vodafone Cash
                            </a>

                        </li>
                        <li>
                            <a href="/index">
                                Dollar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>