

<header>
    <div class="header-top">
        <div class="container">
            <div class="header-top-area">
                <div class="header-wrapper">
                    <div class="header-top-item">
                        <div class="header-top-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="header-top-content">
                            <span>Dubai</span>
                        </div>
                    </div>
                    <div class="header-top-item">
                        <div class="header-top-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="header-top-content">
                            <a href="mailto:uae70008@gmail.com">mazen@gmail.com</a>
                            <!--                                                            <a href="mailto:uae70008@gmail.com">uae70008@gmail.com</a>-->
                        </div>
                    </div>
                    <div class="header-top-right-item header-top-item">
                        <a href="tel:+20 1066475760">
                            <i class="fas fa-phone"></i>
                        </a>
                        <span>+966 543001111</span>
                        <!--                                                    <span>+20 1066475760</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-area">
                <div class="logo">
                    <a href="/index">
                        <img src="../assets/images/logoIcon/blue_bliss/lggg.png" >
                    </a>
                </div>
                <div class="menu-area">
                    <ul class="menu">
                        <li>
                            <a href="/index" class="btn btn--base-outline btn-sm" >Home</a>
                        </li>

                        <li>
                            <a href="/contact" class="btn btn--base-outline btn-sm" >Contact</a>
                        </li>

                        <li>
                            <a th:if="${!isAuthenticated}" href="/login" class="btn btn--base-outline btn-sm">Login</a>
                        </li>

                        <li>
                            <a th:if="${!isAuthenticated}" href="/register" class="btn btn--base-outline btn-sm">Register</a>
                        </li>
                        <li>

                            <p th:if="${isAuthenticated}" th:text="'Welcome: ' + ${firstName}" class="btn btn--base-outline btn-sm"></p>

                        </li>
                        <li>
                            <a th:if="${isAuthenticated}" href="/logout" class="btn btn--base-outline btn-sm">Logout</a>
                        </li>
                    </ul>

                    <div class="header-bar-area d-lg-none">
                        <div class="header-bar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>