<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>

<h2>Upload Image</h2>

<form method="post" action="/upload-image" enctype="multipart/form-data">
    <label for="file">Select Image:</label>
    <input type="file" id="file" name="file" accept="image/*" required>

    <button type="submit">Upload</button>
</form>

</body>
</html>
